
<style>
    .justified {
        text-align: justify;
    }
</style>

<h1>Paul Adesola</h1>
<h4> About me page</h4>

<div class="jumbotron" style="background-color: #f5f5dc ;">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6">
                <h2>Bio</h2>
                <p class="justified" style="font-size:14px;">
                    Paul Adesola is a Bcom Informatics Student at the University of Pretoria. I am a young, 
                    hardworking and eager to learn young man who is in very in tune with the world of business, tech and art. 
                    Currently still completing a degree in BCom Informatics (ABET Accredited) , while continuing to stay plugged 
                    into the community, with a hope that I one day make a difference in the community.

                </p>
            </div>



            <div class="col-sm-12 col-lg-6 col-xl-6 col-md-6">

                <h2>Me</h2>
                <div>
                    <img src="~/Media/photo1.jpg" style="width: 500px; height:800px;" alt="aboutImage" />
                </div>


            </div>


        </div>



    </div>
</div>


